{% extends 'customer/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-md-12 offset-md1 p-4 text-center">
            <h1>About Us</h1>
        </div>
    </div>
    </div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
          <p>BlazePrints is dedicated to providing top-notch 3D printing services. Our team of experts is passionate about bringing your ideas to life with precision and quality. Whether you're looking for prototypes, custom designs, or small batch production, we have the technology and expertise to meet your needs.</p>
          <p>Based in Portugal</p>
          <p>Ai qui gato</p>
        </div>
    </div>
</div>
{% endblock content %}
