{% extends 'customer/base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center mt-5">
        <div class="col-md-8 col-md-12 offset-md1 p-4 text-center">
            <h1>3D Printing Services and Showcase</h1>
        </div>
    </div>
    </div class="row justify-content-center mt-1">
        <div class="col-md-10 col-sm-12 offset-md-1 p-4 text-center">
            <h2>Welcome to BlazePrints, your one-stop destination for high-quality 3D printing services.</h2>
            <a href="{% url 'order' %}" class="btn btn-outline-primary">Order Now!</a>
        </div>
</div>
{% endblock content %}
