{% extends 'customer/base.html' %}

{% block content %}
<div class="container mb-5">
    <div class="row justify-content-center mt-1">
        <div class="col-md-12 col-sm-12 p-4">
            <form method="POST">
                {% csrf_token %}
                <div class="pt-5">
                    {% for cos in cosplay %}
                    <div class="row">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ cos.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ cos.pk }}">
                                    <label class="form-check-label">{{ cos.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ cos.price }}</p>
                            </div>
                            <p>{{ app.description }}</p>
                        </div>
                    </div>
                    <hr />
                {% endfor %}
                </div>

                <div class="pt-5">
                    {% for fidget in fidget %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ fidget.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ fidget.pk }}">
                                    <label class="form-check-label">{{ fidget.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ fidget.price }}</p>
                            </div>
                            <p>{{ fidget.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for custom_part in custom_parts %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ custom_part.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ custom_part.pk }}">
                                    <label class="form-check-label">{{ custom_part.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ custom_part.price }}</p>
                            </div>
                            <p>{{ custom_part.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="pt-5">
                    {% for toy in toys %}
                    <div class="row mt-4">
                        <div class="col-md-2 col-sm-12">
                            <img class="rounded" src="{{ toy.image.url }}" width="150" height="100"/>
                        </div>
                        <div class="col-md-8 col-sm-12">
                            <div class="d-flex flex-row">
                                <div class="form-group form-check">
                                    <input type="checkbox" name="items[]" class="form-check-input" value="{{ toy.pk }}">
                                    <label class="form-check-label">{{ toy.name }}</label>
                                </div>
                                <p class="font-weight-bold pl-5">{{ toy.price }}</p>
                            </div>
                            <p>{{ toy.description }}</p>
                        </div>
                    </div>
                    <hr />
                    {% endfor %}
                </div>

                <div class="form-group pt-3">
                    <label for="name">Full Name</label>
                    <input required class="form-control" type="text" placeholder="Your Name" name="name" />
                </div>

                <div class="form-group pt-3">
                    <label for="name">Email Adress</label>
                    <input required class="form-control" type="text" placeholder="example@gmail.com" name="email" />
                </div>

                 <div class="form-group pt-3">
                    <label for="name">Street Adress</label>
                    <input required class="form-control" type="text" placeholder="Street, Door, Floor" name="street" />
                </div>

                <div class="row">
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">City</label>
                            <input required class="form-control" type="text" placeholder="Trás-os-Montes" name="city" />
                        </div>
                    </div>
                        
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">District</label>
                            <input required class="form-control" type="text" placeholder="Bragança" name="district" />
                        </div>
                    </div>
                        
                    <div class="col-md-4 col-sm-12">
                        <div class="form-group pt-3">
                            <label for="name">Zip Code</label>
                            <input required class="form-control" type="text" placeholder="0000-000" name="zip" />
                        </div>
                    </div>
                </div>

                <!-- Button trigger modal -->
                <button type="button" class="btn btn-dark" data-toggle="modal" data-target="#submitModal">
                    Submit Order!
                </button>


                <div class="modal fade" id="submitModal" tabindex="-1" role="dialog" aria-labelledby="submitModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">

                        <div class="modal-header">
                            <h5 class="modal-title" id="submitModalLabel">Submit your Order!</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                            </button>
                        </div>

                        <div class="modal-body">
                            Are you sure you want to proceed to payment?
                        </div>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-light" data-dismiss="modal">Cancel</button>
                            <button type="submit" class="btn btn-dark">Place It!</button>
                        </div>
                    </div>
                </div>


               
            </form>
        </div>
    </div>
</div>
{% endblock content %}